<%- include('header') -%>

<h2>Profile</h2>

<p>Welcome <strong><%= user.username %></strong>, this is your private profile page and can only be viewed when you have logged in.</p>

<%- include('footer') -%>